.form {

    &__wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-block: 2px solid #000;
    }

    &__group {
        padding-bottom: 2.3rem;

        &--switcher .form__label {
            margin-right: 2rem;
        }
    }

    &__group--hidden {
        border: 2px solid #000;
        padding: 3rem;
        width: min-content;
    }

    &__label {
        width: max-content;
    }

    &__item {
        margin-bottom: 2rem;
    }

    &__description {
        width: fit-content;
    }
}