.form {

    &__wrapper {
        border-block: 2px solid #000; /* Basic solid border */
        border-radius: 8px; /* Rounded corners for a smoother look */
        background-color: #fff; /* Optional: a contrasting background to the border */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);     }

    &__group {

        &--switcher .form__label {
            margin-right: 2rem;
        }
    }

    &__group--hidden {
        max-width: 510px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
        }
    }

    &__group--hidden-item {
        border: 2px solid #000;
    }

    &__label {
        width: 7rem;
    }
}