.form {
    font-family: monospace;
    font-size: 14px;

    &__wrapper {
        border-block: 2px solid #000; 
        border-radius: 8px;
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    }

    &__group {

        &--switcher .form__label {
            margin-right: 2rem;
        }
    }

    &__group--hidden {
        max-width: 510px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
        }
    }

    &__group--hidden-item {
        border: 2px solid #000;
    }

    &__label {
        width: 7rem;
    }
}



